div#main-menu ul li ul {
  background-color: #507AAA;
  display: none;
}
div#main-menu ul li:hover ul {
  display: inline;
  position: absolute;
}
div#main-menu ul li ul li {
  float: none;
  padding: 2px;
}
div#main-menu ul li ul li a {
  font-size: x-small;
}
